:root{
    background: #FFF8F0;
    font-size: 16px;
}
p{margin:0;}
a{text-decoration: none;}
span{margin: 0;}
h2{margin:0;}
#mobile{
    display: flex;
}
#email{
    display: flex;
}
#imfredi{
    color: #291854;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:3.25rem;
    margin-bottom: 0.625rem;
}
.nav_txt{
    color: #000;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.1875rem;
}
body{
    margin: auto;
    padding: 0;
    width: 100%;

}
.section1{
    width: 100%;
    display: flex;
    margin: auto;
}
.left_section1{
    width: 40%;
    margin-left: 1.5rem;
}
.right_section1{width: 50%;}
.heroimage{
    border-radius: 0px 0px 12.5rem 10rem;
    object-fit: cover;
    width: 100%;
}
.navi_icon{
    width: 1.25rem;
    height: 1.25rem;
}
.contact{
    display: flex;
    justify-content: space-between;
    margin-top:1.875rem;
}#and{
    color: #190D37;
    font-family: League Spartan;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.125rem;
}
.bigtext{
    color: #190D37;
    font-family: League Spartan;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.125rem; /* 104.167% */
}
.smalltext{
    color: #331E6A;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 177.778% */
}
#contact_btn{
    margin-top: 2rem;
    width: 8.625rem;
    height: 2.75rem;
    border-radius: 0.25rem;
    background: #2F2F2F;
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#contact_btn:hover{cursor: pointer;}
.section2{margin-top: 6rem;}
.sec2title{
    color: #2858FF;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 0.5rem;
}
.sec2bigtxt{
    width: 43.75rem;
    margin: auto;
    color: #000;
    text-align: center;
    font-family: League Spartan;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem; /* 111.111% */
    margin-bottom: 0.5rem;
}
.sec2smalltxt{
    margin: auto;
    width: 42.875rem;
    color: #190D37;
    text-align: center;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sec2box1{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom:  6.125rem;
}
.box{
    width: 21.25rem;
    height: 18.1875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 6px 2px 25px -9px rgba(0, 0, 0, 0.10);
    margin-left: 20px;
}
.box_heading{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.box_content{
    color: #55206D;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
    margin: 1.125rem;
}
.sec2box2{
    margin-bottom: 6.125rem;
}
footer{
    padding: 1.125rem;
    margin: auto;
    background: #000;
}
#footertxt{
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.projects{
    margin-left:11.875rem;
    margin-right: 11.875rem;
    margin-bottom: 8.0625rem;
    margin-top: 3rem;
}
.project{
    display: flex;
    width: 100%;

}
#projectimg1 , #projectimg2 , #projectimg3{
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    margin-right:1.25rem;
    margin-bottom: 2.5rem;
}
#projectimg1{
    background: #19ACFF;
}
#projectimg2{
    background: #FFE819;
}
#projectimg3{
    background: #FF1919;
}
#imgtxt1, #imgtxt2, #imgtxt3{
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:2.75rem 2.875rem 2.75rem 2.875rem ; 
}
#imgtxt1{
    color: #FFF;
}
#imgtxt2 {
    color: #000;
}
#imgtxt3{
    color: #FFF;
}
.project_title{
    color: #291854;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.project_content{
    color: #55206D;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
.project_link{
    color: #6A87A3;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:0.5rem;
}
@media only screen and (max-width: 750px) {
    body{
        width: 100%;
        margin: auto;
    }
    
    .section1{
        width: 100%;
        display: block;
    }
    .left_section1{
        width: 80%;
        margin: auto;
    }
    .right_section1{
        width: 100%;
    }
    .heroimage{
        width: 100%;
    }
    .sec2box1{
        display: block;
    }
    .box{
        width:100%;
        margin: auto;
    }
    .sec2bigtxt{
        width: 100%;
    }
    .section2{
        width:80%;
        margin: auto;
        margin-top: 6rem;
    }
    .sec2bigtxt{
        width: 100%;
        margin: auto;
        
    }
    .sec2smalltxt{
        width: 100%;
    }
    .project{
        width: 80%;
        margin: auto;
        display: block;
    }
    .projects{
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    #projectimg1,#projectimg2,#projectimg3{
        margin: auto;
        display: flex;
    }

}